html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 18pt;
    background-color: #eee;
}

input {
    font-family: sans-serif;
    font-size: 18pt;    
}

.inline {
    display: inline-block;
    vertical-align: middle;
}

.button {
    cursor: pointer;
}

.master.wrong {
    box-shadow: 0 0 1px 2px lightCoral;
}

.entry {
    white-space: nowrap;
    position: relative;
    margin-bottom: .5em;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.url-field {
    -webkit-transition: margin-left .5s ease;
       -moz-transition: margin-left .5s ease;
        -ms-transition: margin-left .5s ease;
         -o-transition: margin-left .5s ease;
            transition: margin-left .5s ease;
}

.pass-view .url-field {
    -webkit-transition: margin-left .5s ease;
       -moz-transition: margin-left .5s ease;
        -ms-transition: margin-left .5s ease;
         -o-transition: margin-left .5s ease;
            transition: margin-left .5s ease;
    margin-left: -100%;
}

.label,
.add.button,
.ok.button {
    font-size: .75em;
    color: #999;
}

.add.button,
.ok.button {
    color: white;
    background-color: #ccc;
    padding: .1em .5em;
    border-radius: 1em;
}

.add.button:hover {
    background-color: #999;
}

.pass-field {
    margin-left: -.25em;
}

.entry-field {
    width: 100%;
}

.icon.button {
    text-align: center;
    line-height: 1.5em;
    color: white;
    background-color: #ccc;
    font-size: .5em;
    border-radius: .75em;
    width: 1.5em;
    height: 1.5em;
}

.icon.button:hover {
    background-color: #999;
}

.delete.button {
    position: absolute;
    top: 50%;
    margin-top: -.75em;
    right: 0;
}

.container {
    padding: 1em;
    max-width: 800px;
    margin: auto;
    margin-top: .5em;
    background-color: white;
}

.logo {
    margin-bottom: .5em;
    font-size: 2em;
}